@model WowGuildManager.Models.ViewModels.Events.EventsIndexViewModel
@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <a asp-area="" asp-controller="Dungeons" asp-action="Create" class="btn btn-primary m-3"><h2>Create new dungeon event</h2></a>

    @if (this.User.IsInRole("Raid Leader") || this.User.IsInRole("Admin"))
    {
        <a asp-area="" asp-controller="Raids" asp-action="Create" class="btn btn-warning m-3"><h2>Create new Raid event</h2></a>
    }
</div>

<h2 class="text-center">Upcoming events</h2>
<hr class="bg-white" />
<section>
    <h4>Raids</h4>
    <div class="row d-flex justify-content-center">
        @foreach (var raid in Model.Raids)
        {
            <div class="card col-auto m-4 bg-dark border-warning" style="width: 18rem; padding:0px;">
                <img class="card-img-top" src="@raid.Image" alt="Card image cap">
                <div class="card-body text-warning">
                    <h5 class="card-title">@raid.DateTime</h5>
                    <p class="card-text">@raid.Place - Leader: @raid.LeaderName</p>
                    <p class="card-text">@raid.RegisteredPlayers/@raid.MaxPlayers</p>
                    <p class="card-text">@raid.Description</p>
                    <a asp-area="" asp-controller="Dungeons" asp-action="Details" asp-route-id="@raid.Id" class="btn btn-success w-100">Join</a>
                </div>
            </div>
        }
    </div>
</section>
<section>
    <h2 class="text-center text-dark">Dungeons</h2>

    <div class="row d-flex justify-content-center">
        @foreach (var dungeon in Model.Dungeons)
        {
            <div class="card col-auto m-4 bg-dark border" style="width: 18rem; padding:0px;">
                <img class="card-img-top" src="@dungeon.Image" alt="Card image cap">
                <div class="card-body text-warning">
                    <h5 class="card-title">@dungeon.DateTime</h5>
                    <p class="card-text">@dungeon.Place - Leader: @dungeon.LeaderName</p>
                    <p class="card-text">@dungeon.RegisteredPlayers/@dungeon.MaxPlayers</p>
                    <p class="card-text">@dungeon.Description</p>
                    <a asp-area="" asp-controller="Dungeons" asp-action="Details" asp-route-id="@dungeon.Id" class="btn btn-success w-100">Join</a>
                </div>
            </div>
        }
    </div>

</section>
