@model WowGuildManager.Models.ViewModels.Events.EventsIndexViewModel
@{
    ViewData["Title"] = "Index";
}

<div class="row d-flex justify-content-center">
    <a asp-area="" asp-controller="Dungeons" asp-action="Create" class="btn btn-warning m-3 border-dark col-sm-6"><h2>Create new Dungeon</h2></a>

    @if (this.User.IsInRole("Raid Leader") || this.User.IsInRole("Admin"))
    {
        <a asp-area="" asp-controller="Raids" asp-action="Create" class="btn btn-warning m-3 border-dark col-sm-6"><h2>Create new Raid</h2></a>
    }
</div>

<section>
    <h2 class="text-center">Raids</h2>
    <div class="row d-flex justify-content-center">
        @foreach (var raid in Model.Raids)
        {
            <div class="card col-auto m-4 bg-dark border-danger" style="width: 18rem; padding:0px;">
                <img class="card-img-top" src="@raid.Image" alt="Card image cap">
                <div class="card-body text-warning">
                    <h5 class="card-title">@raid.DateTime</h5>
                    <p class="card-text">@raid.Place - Leader: @raid.LeaderName</p>
                    <p class="card-text">Registered: @raid.RegisteredPlayers/@raid.MaxPlayers</p>
                    <p class="card-text">@raid.Description</p>
                    @if (raid.RegisteredPlayers != raid.MaxPlayers)
                    {
                        <a asp-area="" asp-controller="Raids" asp-action="Details" asp-route-id="@raid.Id" class="btn btn-danger w-100">Join</a>
                    }
                    else
                    {
                        <a asp-area="" asp-controller="Raids" asp-action="Details" asp-route-id="@raid.Id" class="btn btn-danger w-100">No spots left - see details</a>
                    }
                </div>
            </div>
        }
    </div>
</section>
<section>
    <h2 class="text-center">Dungeons</h2>
    <div class="row d-flex justify-content-center mb-5">
        @foreach (var dungeon in Model.Dungeons)
        {
            <div class="card col-auto m-4 bg-dark border-success" style="width: 18rem; padding:0px;">
                <img class="card-img-top" src="@dungeon.Image" alt="Card image cap">
                <div class="card-body text-warning">
                    <h5 class="card-title">@dungeon.DateTime</h5>
                    <p class="card-text">@dungeon.Place - Leader: @dungeon.LeaderName</p>
                    <p class="card-text">Registered: @dungeon.RegisteredPlayers/@dungeon.MaxPlayers</p>
                    <p class="card-text">@dungeon.Description</p>
                    @if (dungeon.AlreadyJoined)
                    {
                        <a asp-area="" asp-controller="Dungeons" asp-action="Details" asp-route-id="@dungeon.Id" class="btn btn-success w-100 ">Already Joined with @dungeon.JoinedCharacterLevel @dungeon.JoinedCharacterName @dungeon.JoinedCharacterRole</a>

                    }
                    else if (dungeon.RegisteredPlayers != dungeon.MaxPlayers)
                    {
                        <a asp-area="" asp-controller="Dungeons" asp-action="Details" asp-route-id="@dungeon.Id" class="btn btn-success w-100 ">Join</a>
                    }
                    else
                    {
                        <a asp-area="" asp-controller="Dungeons" asp-action="Details" asp-route-id="@dungeon.Id" class="btn btn-success w-100 ">Full - see details</a>
                    }
                </div>
            </div>  
        }
    </div>
</section>
