@model WowGuildManager.Models.ViewModels.Characters.CharacterCreateInputModel
@{
    ViewData["Title"] = "Create";
}

<div class="row d-flex justify-content-center m-3">
    <div class="col-sm-6 col-sm">
        <section>
            <form method="post">

                <h2 class="text-center mt-3">Create new character</h2>
                <hr class="bg-white" />
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group">
                    <input asp-for="@Model.Name" class="form-control border-dark" placeholder="Name..." />
                    <span asp-validation-for="@Model.Name" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input asp-for="@Model.Level" class="form-control border-dark" placeholder="Level..." />
                    <span asp-validation-for="@Model.Level" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <select asp-for="@Model.Class" asp-items="@((IEnumerable<SelectListItem>)ViewData["Classes"])" class="form-control border-dark">
                        <option disabled selected> -- Class -- </option>
                    </select>
                    <span asp-validation-for="@Model.Class" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <select asp-for="@Model.Role" asp-items="@((IEnumerable<SelectListItem>)ViewData["Roles"])" class="form-control border-dark">
                        <option disabled selected> -- Role -- </option>
                    </select>
                    <span asp-validation-for="@Model.Role" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-warning w-100 border-dark">Create</button>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


