@model WowGuildManager.Models.ViewModels.Characters.CharacterCreateInputModel
@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

@*<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="@Model.Name"></label>
        <input asp-for="@Model.Name" class="form-control" placeholder="Name" />
        <span asp-validation-for="@Model.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Level"></label>
        <input asp-for="@Model.Level" class="form-control" placeholder="Level" />
        <span asp-validation-for="@Model.Level" class="text-danger"></span>
    </div>

    <select asp-for="@Model.Class" asp-items="@ViewBag.Classes"></select>

    <select asp-for="@Model.Role" asp-items="@ViewBag.Roles"></select>

    <button type="submit" class="btn btn-primary">Create new account</button>
</form>*@

<div class="row d-flex justify-content-center">
    <div class="col-sm-6 col-sm">
        <section>
            <form method="post">
                <h4 class="text-center">Login</h4>
                <hr class="bg-white" />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="@Model.Name"></label>
                    <input asp-for="@Model.Name" class="form-control" placeholder="Name..." />
                    <span asp-validation-for="@Model.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Level"></label>
                    <input asp-for="@Model.Level" class="form-control" placeholder="Level..." />
                    <span asp-validation-for="@Model.Level" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <select asp-for="@Model.Class" asp-items="@ViewBag.Classes" class="form-control"></select>
                </div>
                <div class="form-group">
                    <select asp-for="@Model.Role" asp-items="@ViewBag.Roles" class="form-control"></select>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-warning w-100">Create</button>
                </div>
            </form>
        </section>
    </div>
</div>


