@model WowGuildManager.Models.ViewModels.Characters.CharacterViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<ul class="list-group bg-dark">
    <li class="list-group-item bg-dark">@Model.Name</li>
    <li class="list-group-item bg-dark">@Model.Level</li>
    <li class="list-group-item bg-dark">@Model.Role</li>
    <li class="list-group-item bg-dark">@Model.Class</li>

    @if (this.User.IsInRole(GuildRanksConstants.GuildMaster))
    {
        @if (Model.Rank == GuildRanksConstants.Member)
        {
            <li class="list-group-item bg-dark">@Model.Rank <a asp-area="" asp-controller="Guild" asp-action="PromoteRank" asp-route-characterId="@Model.Id" class="btn btn-success btn-sm">Promote <i class="fas fa-arrow-up"></i></a></li>
        }
        else if (Model.Rank == GuildRanksConstants.GuildMaster)
        {
            <li class="list-group-item bg-dark">@Model.Rank <a asp-area="" asp-controller="Guild" asp-action="DemoteRank" asp-route-characterId="@Model.Id" class="btn btn-danger btn-sm">Demote <i class="fas fa-arrow-down"></i></a></li>

        }
        else
        {
            <li class="list-group-item bg-dark">@Model.Rank <a asp-area="" asp-controller="Guild" asp-action="PromoteRank" asp-route-characterId="@Model.Id" class="btn btn-success btn-sm">Promote <i class="fas fa-arrow-up"></i></a> <a asp-area="" asp-controller="Guild" asp-action="DemoteRank" asp-route-characterId="@Model.Id" class="btn btn-danger btn-sm">Demote <i class="fas fa-arrow-down"></i></a></li>
        }
    }
    else
    {
        <li class="list-group-item bg-dark">@Model.Rank</li>
    }
</ul>

