@model WowGuildManager.Models.ViewModels.Characters.CharacterViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="container-fluid bc">
    <h1>Character details</h1>

    <div class="col-lg-4 pl-0">
        <ul class="list-group bg-dark mb-3 pr-0">
            <li class="list-group-item bg-dark">Name: @Model.Name</li>
            <li class="list-group-item bg-dark">Level: @Model.Level</li>
            <li class="list-group-item bg-dark">Role: @Model.Role</li>
            <li class="list-group-item bg-dark">Class: @Model.Class</li>
            <li class="list-group-item bg-dark">Rank: @Model.Rank</li>
        </ul>
    </div>
    <div class="col-lg-4 pl-0">
        @if (this.User.IsInRole(GuildRanksConstants.GuildMaster))
        {
            <h3 class="text-danger">Guild master actions:</h3>

            @if (Model.Rank == GuildRanksConstants.Member)
            {
                <a asp-controller="Guild" asp-action="PromoteRankAsync" asp-route-characterId="@Model.Id" class="btn btn-success btn-sm border border-dark col-sm-6">Promote <i class="fas fa-arrow-up"></i></a>
            }
            else if (Model.Rank == GuildRanksConstants.GuildMaster)
            {
                <div class="row">
                    <div class="col-lg-6">
                    </div>
                    <div class="col-lg-6 ">
                        <a asp-controller="Guild" asp-action="DemoteRankAsync" asp-route-characterId="@Model.Id" class="btn btn-danger btn-sm border border-dark col-sm-12">Demote <i class="fas fa-arrow-down"></i></a>
                    </div>
                </div>
            }
            else
            {
                <div class="row">
                    <div class="col-lg-6">
                        <a asp-controller="Guild" asp-action="PromoteRankAsync" asp-route-characterId="@Model.Id" class="btn btn-success btn-sm border border-dark col-sm-12">Promote <i class="fas fa-arrow-up"></i></a>
                    </div>
                    <div class="col-lg-6">
                        <a asp-controller="Guild" asp-action="DemoteRankAsync" asp-route-characterId="@Model.Id" class="btn btn-danger btn-sm border border-dark col-sm-12">Demote <i class="fas fa-arrow-down"></i></a>
                    </div>
                </div>
            }

            <hr class="bg-warning"/>
            <button type="button" class="btn btn-dark w-100 border border-danger text-danger" data-toggle="modal" data-target="#myModal">Kick character from guild!</button>

            <!-- Modal -->
            <div id="myModal" class="modal fade text-dark" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content bg-warning border border-danger">
                        <div class="modal-header">
                            <h4 class="modal-title">Are you sure you want to kick @Model.Name from the guild?</h4>
                        </div>

                        <form asp-controller="Characters" asp-action="DeleteAsync" method="post">
                            <div class="input-group form-group">
                                <input asp-for="Id" hidden />
                            </div>
                            <div class="form-group p-3">
                                <button type="submit" class="btn btn-dark btn-lg border border-danger text-danger col-sm-12">Kick from guild!</button>
                            </div>
                        </form>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-info border border-dark col-sm-12" data-dismiss="modal">Back</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

    <hr class="bg-warning" />
</div>
