@model WowGuildManager.Models.ViewModels.Characters.CharacterIndexViewModel
@{
    ViewData["Title"] = "Index";
}
<a asp-area="" asp-controller="Characters" asp-action="Create"><h2>Add character</h2></a>

<section>
    <div id="myCharacters">
        <div class="row">

            <div class="card-deck">
                @foreach (var character in Model.Characters)
                {
                    <div class="card bg-dark border text-warning" style="width: 20rem;">
                        <a asp-area="" asp-controller="Characters" asp-action="Details" asp-route-id="@character.Id"><img class="card-img-top" src="@character.Image" style="height:260px;"></a>
                        <div class="card-body">
                            <h5 class="card-title">@character.Name</h5>
                            <p class="card-text">@character.Level @character.Class @character.Role</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
