@model WowGuildManager.Models.ViewModels.Characters.CharacterIndexViewModel
@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid bc">
    <div class="text-center">
        <a asp-area="" asp-controller="Characters" asp-action="Create" class="btn btn-warning btn-sm mt-3 mb-3 border-dark col-sm-6"><h2>Add character</h2></a>
    </div>

    <section>
        <div class="row d-flex justify-content-center">
            <div class="card-deck m-3">
                @foreach (var character in Model.Characters)
                {
                    <div class="card bg-dark border text-warning" style="width: 20rem;">
                        <a asp-area="" asp-controller="Characters" asp-action="Details" asp-route-id="@character.Id"><img class="card-img-top" src="@character.Image" style="height:260px;"></a>
                        <div class="card-body">
                            <h5 class="card-title">@character.Name</h5>
                            <p class="card-text">@character.Level @character.Class @character.Role</p>
                        </div>
                        <div class="card-footer d-flex justify-content-between">
                            <small class="text-muted">@character.Rank</small>
                            <a asp-area="" asp-controller="Characters" asp-action="Edit" asp-route-id="@character.Id" class="btn btn-info btn-sm">Edit character info</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
</div>

