@model WowGuildManager.Models.ViewModels.Characters.MembersIndexViewModel
@{
    ViewData["Title"] = "Index";
}

<h2 class="text-center">Guild members</h2>

<table class="table table-sm table-hover table-dark text-center ">
    <thead>
        <tr>
            <th scope="col" class="text-center">Guild rank</th>
            <th scope="col" class="text-center">Name</th>
            <th scope="col" class="text-center">Level</th>
            <th scope="col" class="text-center">Class</th>
            <th scope="col" class="text-center">Role</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var member in Model.Members)
        {
        <tr>
            <td class="p-2">@member.Rank</td>
            <td><a asp-area="" asp-controller="Characters" asp-action="Details" asp-route-id="@member.Id" class="btn btn-info btn-sm w-75">@member.Name</a></td>
            <td class="p-2">@member.Level</td>
            <td class="p-2">@member.Class</td>
            @if (member.Role == "Damage")
            {
                <td><span class="btn btn-danger btn-sm w-50">@member.Role</span></td>
            }
            else if (member.Role == "Healer")
            {
                <td><span class="btn btn-success btn-sm w-50">@member.Role</span></td>
            }
            else if (member.Role == "Tank")
            {
                <td><span class="btn btn-warning btn-sm w-50">@member.Role</span></td>
            }
        </tr>
        }
    </tbody>
</table>

