@model WowGuildManager.Models.ViewModels.Characters.MembersIndexViewModel
@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid bc">

    <h2>Total Guild members: @Model.MembersCount</h2>
    
    <table class="table table-sm table-hover table-dark text-warning ">
        <thead>
            <tr>
                <th>Guild rank</th>
                <th>Name</th>
                <th>Level</th>
                <th>Class</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var member in Model.Members)
            {
                <tr>
                    <td class="p-2">@member.Rank</td>
                    <td><a asp-area="" asp-controller="Characters" asp-action="Details" asp-route-id="@member.Id" data-toggle="tooltip" data-placement="top" title="Click to see character info" class="btn btn-info btn-sm w-75 text-white">@member.Name</a></td>
                    <td class="p-2">@member.Level</td>
                    <td class="p-2">@member.Class</td>
                    @if (member.Role == CharacterRoleConstants.Damage)
                    {
                        <td><span class="btn btn-danger btn-sm w-50">@member.Role</span></td>
                    }
                    else if (member.Role == CharacterRoleConstants.Healer)
                    {
                        <td><span class="btn btn-success btn-sm w-50">@member.Role</span></td>
                    }
                    else if (member.Role == CharacterRoleConstants.Tank)
                    {
                        <td><span class="btn btn-warning btn-sm w-50">@member.Role</span></td>
                    }
                </tr>
            }
        </tbody>
    </table>
    <hr class="bg-warning" />
</div>

@section Scripts{
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
}


