@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="container-fluid">
    <div class="d-flex justify-content-center">
        <div class="card-login">
            <div class="card-header">
                <h3>Log In</h3>
            </div>
            @if ((Model.ExternalLogins?.Count ?? 0) == 0)
            {
            <div>
                <p>
                    There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                    for details on setting up this ASP.NET application to support logging in via external services.
                </p>
            </div>
            }
            else
            {
            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                <div class="card-body">

                    @foreach (var provider in Model.ExternalLogins)
                    {
                        <button type="submit" class="btn btn-primary w-100" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account"><i class="fab fa-facebook-square fa-1x"></i> Login with @provider.DisplayName</button>
                    }

                </div>
            </form>
            }
            <div class="card-body">
                <section>
                    <form id="account" method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input asp-for="Input.Username" class="form-control" placeholder="Username" />
                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input asp-for="Input.Password" class="form-control" placeholder="Password" />
                        </div>
                        <div class="row align-items-center remember">
                            <label asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                        <div class="form-group w-100">
                            <input type="submit" value="Login" class="btn w-100 login_btn">
                        </div>
                    </form>
                </section>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-center ">
                    <a id="forgot-password" asp-page="./ForgotPassword" class="btn btn-info w-100">Forgot your password?</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
