@model IEnumerable<WowGuildManager.Models.ViewModels.Guild.RaidDestinationProgressViewModel>

<div class="d-flex justify-content-around">
    <div class="w-50">
        <h1 class="text-center text-warning">Guild progress</h1>
        @foreach (var raidDestination in Model)
        {
            <div class="m-1">
                <h6 class="text-center">@raidDestination.Name: @raidDestination.KilledBosses/@raidDestination.TotalBosses</h6>
                <div class="progress">
                    <div class="progress-bar bg-info" style="width: @(raidDestination.CompletedPercent)%" role="progressbar" aria-valuenow="@raidDestination.KilledBosses" aria-valuemin="0" aria-valuemax="@raidDestination.TotalBosses"></div>
                </div>
            </div>
        }
    </div>
</div>