@model WowGuildManager.Models.ViewModels.Raids.RaidDetailsViewModel

<div class="container-fluid bc">
    <h2>@Model.Destination</h2>
    <hr class="bg-warning" />

    <div class="row d-flex justify-content-between">

        <div class="col-lg-4">
            <p>Information: @Model.Description</p>
            <p>Event datetime: @Model.EventDateTime</p>
            <p>Healers: @Model.HealersCount</p>
            <p>Damage dealers: @Model.DamageDealersCount</p>
            <p>Tanks: @Model.TanksCount</p>
        </div>

        <div class="col-lg-4">
            @if (Model.AlreadyJoined && Model.JoinedCharacter.Id == Model.LeaderId)
            {
                <form asp-controller="Raids" asp-action="EditAsync" method="post">
                    <div class="input-group form-group">
                        <input asp-for="Description" class="form-control border-dark" placeholder="New description..." />
                    </div>

                    <div class="input-group form-group">
                        <input asp-for="EventDateTime" class="form-control border-dark" placeholder="New description..." />
                    </div>

                    <div class="input-group form-group">
                        <input asp-for="Id" name="raidId" hidden />
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-info w-100 border-dark">Update raid event information</button>
                    </div>
                </form>
            }
        </div>
    </div>

    <hr class="bg-warning" />

    <table class="table table-sm table-hover table-dark text-warning">
        <thead>
            <tr>
                <th class="priority-3">Guild rank</th>
                <th class="priority-1">Name</th>
                <th class="priority-3">Level</th>
                <th class="priority-1">Class</th>
                <th class="priority-1">Role</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var character in Model.Characters)
            {
                if (Model.AlreadyJoined && character.Id == Model.JoinedCharacter.Id)
                {
                    <tr>
                        <th class="p-2 priority-3">@character.GuildRank</th>
                        <td class="priority-1"><a asp-controller="Characters" asp-action="Details" asp-route-id="@character.Id" data-toggle="tooltip" data-placement="top" title="Click to see character info" class="btn btn-warning btn-sm w-75">@character.Name</a></td>
                        <td class="p-2 priority-3">@character.Level</td>
                        <td class="p-2 priority-1">@character.Class</td>
                        <td class="p-2 d-flex justify-content-between priority-1">@character.Role</td>
                    </tr>
                }
                else if (Model.AlreadyJoined && character.Id != Model.LeaderId && Model.JoinedCharacter.Id == Model.LeaderId)
                {
                    <tr>
                        <th class="p-2 priority-3">@character.GuildRank</th>
                        <td class="priority-1"><a asp-controller="Characters" asp-action="Details" asp-route-id="@character.Id" data-toggle="tooltip" data-placement="top" title="Click to see character info" class="btn btn-info btn-sm w-75">@character.Name</a></td>
                        <td class="p-2 priority-3">@character.Level</td>
                        <td class="p-2 priority-1">@character.Class</td>
                        <td class="d-flex justify-content-between priority-1">@character.Role <a asp-controller="Raids" asp-action="KickAsync" asp-route-characterId="@character.Id" asp-route-raidId="@Model.Id" class="btn btn-danger btn-sm">Kick</a></td>
                    </tr>
                }
                else
                {
                    <tr>
                        <th class="priority-3">@character.GuildRank</th>
                        <td class="priority-1"><a asp-controller="Characters" asp-action="Details" asp-route-id="@character.Id" data-toggle="tooltip" data-placement="top" title="Click to see character info" class="btn btn-info btn-sm w-75">@character.Name</a></td>
                        <td class="priority-3">@character.Level</td>
                        <td class="priority-1">@character.Class</td>
                        <td class="p-2 d-flex justify-content-between priority-3">@character.Role</td>
                    </tr>
                }
            }
        </tbody>
    </table>
    @if (Model.AvailableCharacters.Any() == false)
    {
        <a asp-controller="Characters" asp-action="Create" class="btn btn-secondary bg-warning text-dark">You dont have any registered characters. Click here to register new character.</a>
    }
    else if (Model.Characters.Count() < Model.MaxPlayers && Model.AlreadyJoined == false)
    {
        <div class="dropdown col-lg-4 pl-0 pr-0">
            <button class="btn btn-secondary dropdown-toggle bg-warning w-100 text-dark" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Select character to join</button>

            <div class="dropdown-menu w-100 bg-dark" aria-labelledby="dropdownMenuButton">
                @foreach (var availableCharacter in Model.AvailableCharacters)
                {
                    <a asp-controller="Raids" asp-action="JoinAsync" asp-route-characterId="@availableCharacter.Id" asp-route-raidId="@Model.Id" class="dropdown-item text-success">@availableCharacter.Name</a>
                }
            </div>
        </div>
    }
    <hr class="bg-warning" />
</div>

@section Scripts{
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
}