@model WowGuildManager.Models.BindingModels.Guilds.GuildMasterViewModel

<div class="container-fluid bc">
    <h2 class="text-center text-danger"><u>Welcome to Guild Master page.</u></h2>
    <hr class="bg-warning"/>
    <div class="row">
        <div class="col-sm-auto">
            <h3 class="text-warning">Total registered guild members: @Model.RegisteredCharactersCount</h3>
        </div>
    </div>
    <hr class="bg-warning" />
    <h3>Select raid leaders:</h3>
    <div class="row" style="padding-left:15px">
        <div class="list-group col-lg-6 col-sm-auto">
            @foreach (var user in Model.Users)
            {
                @if (user.IsRaidLeader && user.IsGuildMaster)
                {
                    <a asp-controller="Guild" asp-action="SetOrUnsetRaidLeaderAsync" asp-route-userId="@user.Id" type="button" class="list-group-item list-group-item-action bg-dark text-warning">@user.Name (Raid Leader) (Guild Master)</a>
                }
                else if (user.IsGuildMaster)
                {
                    <a asp-controller="Guild" asp-action="SetOrUnsetRaidLeaderAsync" asp-route-userId="@user.Id" type="button" class="list-group-item list-group-item-action bg-dark text-info">@user.Name (Guild Master)</a>
                }
                else if (user.IsRaidLeader)
                {
                    <a asp-controller="Guild" asp-action="SetOrUnsetRaidLeaderAsync" asp-route-userId="@user.Id" type="button" class="list-group-item list-group-item-action bg-dark text-warning">@user.Name (Raid Leader)</a>
                }
                else
                {
                    <a asp-controller="Guild" asp-action="SetOrUnsetRaidLeaderAsync" asp-route-userId="@user.Id" type="button" class="list-group-item list-group-item-action bg-dark text-info">@user.Name</a>
                }
            }
        </div>
        <div class="col-lg-5 pl-0">
            <h3>Raid leaders</h3>
            <p>Information: Raid leaders are users who are allowed to create and manage Raid events. You can select/deselect them by clicking on the name of the user.</p>
        </div>
    </div>

    <hr class="bg-warning" />
    <div>
        <h3>Adjust guild progress from here.</h3>
        <table class="table table-sm table-hover table-dark text-warning">
            <thead>
                <tr>
                    <th>Destination</th>
                    <th>Progress</th>
                    <th>Adjust progress</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var raidDestination in Model.RaidDestinations)
                {
                    <tr>
                        <td class="p-2 w-25">@raidDestination.Name</td>
                        <td class="p-2 w-25">@raidDestination.KilledBosses/@raidDestination.TotalBosses</td>
                        <td>
                            <a asp-controller="Guild" asp-action="AddGuildProgressAsync" asp-route-raidName="@raidDestination.Name" class="btn btn-success btn-sm border border-dark col-sm-3"><i class="fas fa-plus-square"></i> Add progress</a>
                            <a asp-controller="Guild" asp-action="RemoveGuildProgressAsync" asp-route-raidName="@raidDestination.Name" class="btn btn-danger btn-sm border border-dark col-sm-3"><i class="fas fa-minus-square"></i> Remove progress</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <hr class="bg-warning" />
    <div class="row">
        <div class="col-lg-4">
            <form asp-controller="Gallery" asp-action="UploadImageAsync" method="post" enctype="multipart/form-data">
                <h3>Choose images to upload to gallery page:</h3>

                <div class="form-group">
                    <input type="file" name="files" multiple>
                </div>

                <div class="form-group">
                    <div class="input-group ">
                        <input class="btn btn-warning mt-3 w-100" type="submit" value="Upload">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


