@model WowGuildManager.Models.ViewModels.Guild.GuildProgressViewModel


<div class="w-50 mx-auto m-3">
    <h1 class="mx-auto w-50 ">Guild progress list</h1>
    @foreach (var raidDestination in Model.RaidDestinationProgresses)
    {
        <div class="m-2">
            <h6 class="text-center">@raidDestination.Name: @raidDestination.KilledBosses/@raidDestination.TotalBosses</h6>
            <div class="progress">
                <div class="progress-bar" style="width: @(raidDestination.CompletedPercent)%" role="progressbar" aria-valuenow="@raidDestination.KilledBosses" aria-valuemin="0" aria-valuemax="@raidDestination.TotalBosses"></div>
            </div>
        </div>
    }
</div>

<h1>About Deathwing lair</h1>
<p class="lead">
    Deathwing lair as an extraordinary guild
</p>



