@model WowGuildManager.Models.ViewModels.Dungeons.DungeonCreateInputModel
@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<div class="w-50 justify-content-center align-items-center col-sm-6 offset-sm-3">
    <form method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="@Model.DateTime"></label>
            <input asp-for="@Model.DateTime" value="@DateTime.Now.ToString("yyyy-MM-dd HH:mm").Replace(' ','T')" class="form-control" placeholder="Name" />
            <span asp-validation-for="@Model.DateTime" class="text-danger"></span>
        </div>

        <select asp-for="@Model.Place" asp-items="@ViewBag.Places" class="form-control"></select>

        <select asp-for="@Model.DungeonLeaderId" asp-items="@ViewBag.Characters" class="form-control mt-3"></select>

        <div class="form-group">
            <label asp-for="@Model.Description"></label>
            <input asp-for="@Model.Description" class="form-control" placeholder="Optional description (Quest run, Item farm, Event chase etc...)" />
            <span asp-validation-for="@Model.Description" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Add event</button>
    </form>
</div>
