@model WowGuildManager.Models.ViewModels.Dungeons.DungeonDetailsViewModel
@{
    ViewData["Title"] = "Details";
}

<div class="container-fluid bc">
    <h2>@Model.Destination</h2>
    <hr class="bg-warning" />

    <div class="row d-flex justify-content-between">
        <div class="col-lg-4">
            <p>Information: @Model.Description</p>
            <p>Event datetime: @Model.EventDateTime</p>
        </div>

        <div class="col-lg-4">
            @if (Model.AlreadyJoined && Model.JoinedCharacter.Id == Model.LeaderId)
            {
                <form asp-area="" asp-controller="Dungeons" asp-action="Edit" asp-route-dungeonId="@Model.Id" method="post">
                    <div class="input-group form-group">
                        <input type="text" class="form-control border-dark" name="description" placeholder="New description..." />
                    </div>

                    <div class="input-group form-group">
                        <input type="datetime-local" class="form-control border-dark" name="eventDateTime" placeholder="New description..." />
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-info w-100 border-dark">Update dungeon event information</button>
                    </div>
                </form>
            }
        </div>
    </div>

    <hr class="bg-warning" />
    <h3>Joined players:</h3>
    <table class="table table-sm table-hover table-dark text-warning">
        <thead>
            <tr>
                <th>Guild rank</th>
                <th>Name</th>
                <th>Level</th>
                <th>Class</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var character in Model.Characters)
            {
                if (Model.AlreadyJoined && character.Id == Model.JoinedCharacter.Id)
                {
                    <tr>
                        <td class="p-2 w-25">@character.GuildRank</td>
                        <td><a asp-area="" asp-controller="Characters" asp-action="Details" asp-route-id="@character.Id" data-toggle="tooltip" data-placement="top" title="Click to see character info" class="btn btn-warning btn-sm w-75">@character.Name</a></td>
                        <td class="p-2">@character.Level</td>
                        <td class="p-2">@character.Class</td>
                        <td class="d-flex justify-content-between">@character.Role</td>
                    </tr>
                }
                else if (Model.AlreadyJoined && character.Id != Model.LeaderId && Model.JoinedCharacter.Id == Model.LeaderId)
                {
                    <tr>
                        <td class="p-2 w-25">@character.GuildRank</td>
                        <td><a asp-area="" asp-controller="Characters" asp-action="Details" asp-route-id="@character.Id" data-toggle="tooltip" data-placement="top" title="Click to see character info" class="btn btn-info btn-sm w-75">@character.Name</a></td>
                        <td class="p-2">@character.Level</td>
                        <td class="p-2">@character.Class</td>
                        <td class="d-flex justify-content-between">@character.Role <a asp-area="" asp-controller="Dungeons" asp-action="Kick" asp-route-characterId="@character.Id" asp-route-dungeonId="@Model.Id" class="btn btn-danger btn-sm">Kick</a></td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td class="p-2 w-25">@character.GuildRank</td>
                        <td><a asp-area="" asp-controller="Characters" asp-action="Details" asp-route-id="@character.Id" data-toggle="tooltip" data-placement="top" title="Click to see character info" class="btn btn-info btn-sm w-75">@character.Name</a></td>
                        <td class="p-2">@character.Level</td>
                        <td class="p-2">@character.Class</td>
                        <td class="d-flex justify-content-between">@character.Role</td>
                    </tr>
                }

            }
        </tbody>
    </table>
    @if (Model.AvailableCharacters.Count() == 0)
    {
        <a asp-area="" asp-controller="Characters" asp-action="Create" class="btn btn-secondary bg-warning text-dark">You dont have any registered characters. Click here to register new character.</a>
    }
    else if (Model.Characters.Count() < Model.MaxPlayers && Model.AlreadyJoined == false)
    {
        <div class="dropdown ">
            <button class="btn btn-secondary dropdown-toggle bg-warning w-100 text-dark" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Select character to join
            </button>

            <div class="dropdown-menu w-100 bg-dark" aria-labelledby="dropdownMenuButton">

                @foreach (var availableCharacter in Model.AvailableCharacters)
                {
                    <a asp-area="" asp-controller="Dungeons" asp-action="Join" asp-route-characterId="@availableCharacter.Id" asp-route-dungeonId="@Model.Id" class="dropdown-item text-white">@availableCharacter.Name</a>
                }
            </div>
        </div>
    }
    <hr class="bg-warning" />
</div>

@section Scripts{
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
}


