@model WowGuildManager.Models.ViewModels.Dungeons.DungeonDetailsViewModel
@{
    ViewData["Title"] = "Details";
}

<h2>Details: @Model.Destination - Today: @Model.EventDateTime.ToShortTimeString()</h2>
<p>@Model.Description</p>

<table class="table table-sm table-hover table-dark text-center">
    <thead>
        <tr>
            <th scope="col" class="text-center">Guild rank</th>
            <th scope="col" class="text-center">Name</th>
            <th scope="col" class="text-center">Level</th>
            <th scope="col" class="text-center">Class</th>
            <th scope="col" class="text-center">Role</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var character in Model.Characters)
        {
            if (Model.AlreadyJoined && character.Id == Model.JoinedCharacter.Id)
            {
                <tr class="bg-warning">
                    <td class="p-2 w-25">@character.GuildRank</td>
                    <td><a asp-area="" asp-controller="Characters" asp-action="Details" asp-route-id="@character.Id" data-toggle="tooltip" data-placement="top" title="Click to see character info" class="btn btn-info btn-sm w-75">@character.Name</a></td>
                    <td class="p-2">@character.Level</td>
                    <td class="p-2">@character.Class</td>
                    <td class="p-2">@character.Role</td>
                </tr>
            }
            else if (Model.AlreadyJoined && character.Id != Model.LeaderId && Model.JoinedCharacter.Id == Model.LeaderId)
            {
                <tr>
                    <td class="p-2 w-25">@character.GuildRank</td>
                    <td><a asp-area="" asp-controller="Characters" asp-action="Details" asp-route-id="@character.Id" data-toggle="tooltip" data-placement="top" title="Click to see character info" class="btn btn-info btn-sm w-75">@character.Name</a></td>
                    <td class="p-2">@character.Level</td>
                    <td class="p-2">@character.Class</td>
                    <td class="p-2">@character.Role <a asp-area="" asp-controller="Dungeons" asp-action="Kick" asp-route-characterId="@character.Id" asp-route-dungeonId="@Model.Id" class="btn btn-danger btn-sm">Kick</a></td>
                </tr>
            }
            else
            {
                <tr>
                    <td class="p-2 w-25">@character.GuildRank</td>
                    <td><a asp-area="" asp-controller="Characters" asp-action="Details" asp-route-id="@character.Id" data-toggle="tooltip" data-placement="top" title="Click to see character info" class="btn btn-info btn-sm w-75">@character.Name</a></td>
                    <td class="p-2">@character.Level</td>
                    <td class="p-2">@character.Class</td>
                    <td class="p-2">@character.Role</td>
                </tr>
            }

        }
    </tbody>
</table>
@if (Model.AvailableCharacters.Count() == 0)
{
    <a asp-area="" asp-controller="Characters" asp-action="Create" class="btn btn-secondary bg-warning w-100 text-dark">You dont have any registered characters. Click here to register new character.</a>
}
else if (Model.Characters.Count() < Model.MaxPlayers && Model.AlreadyJoined == false)
{
    <div class="dropdown ">


        <button class="btn btn-secondary dropdown-toggle bg-warning w-100 text-dark" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Select character to join
        </button>

        <div class="dropdown-menu w-100 bg-dark" aria-labelledby="dropdownMenuButton">

            @foreach (var availableCharacter in Model.AvailableCharacters)
            {
                <a asp-area="" asp-controller="Dungeons" asp-action="Join" asp-route-characterId="@availableCharacter.Id" asp-route-dungeonId="@Model.Id" class="dropdown-item text-white">@availableCharacter.Name</a>
            }
        </div>

    </div>
}

@section Scripts{
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
}


